<% include partials/header %>
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">
    <a class="navbar-brand" href="/"><img src="/static/images/logo/logo-big.svg" alt="Bltravel Logo" class="logo-off" id="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="tours" class="nav-link">Tours</a></li>
        <li class="nav-item active"><a href="about" class="nav-link">About</a></li>
        <li class="nav-item"><a href="contact" class="nav-link">Contact</a></li>
        <li class="nav-item"><a href="https://www.nakai-resort.com/" class="nav-link">Hotel</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- END nav -->

<div class="hero-wrap js-fullheight" style="background-image: url('/static/images/hero/about.JPG');">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
      <div class="col-md-9 text-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
        <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="/">Home</a></span> <span>About</span></p>
        <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">About Us</h1>
      </div>
    </div>
  </div>
</div>

<section class="ftco-about d-md-flex">
  <div class="one-half img" style="background-image: url(/static/images/home/bounlist.jpg);"></div>
  <div class="one-half ftco-animate">
    <div class="heading-section ftco-animate ">
      <h2 class="mb-4">Hello!</h2>
    </div>
    <div>
      <p>My name is Bounlisth Duanprachanh. I am a proud father of three sons, the owner of this company, and of <a href="https://www.nakai-resort.com"><b>Nakai Resort</b></a> set on top of a mountain in the beautiful district of Nakai. I have years of experience offering guided tours all over Laos. As a local I have a unique insight into the highlights of this country in an authentic setting. I'm looking forward to being of service to, take look at the <a href="/tours">tour and travel</a> packages we have to offer. </p>
    </div>
  </div>
</section>

<section class="ftco-section img" style="background-image: url(/static/images/about/photo-1.jpg);" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 slider-text">
        <div class="heading-section ftco-animate">
          <h2 class="slider-text">Who we are!</h2>
        </div>
        <div class="ftco-animate">
          <p>We pride ourselves in offering one of the best travel and tour experiences to the local communities and fellow travelers from all around the world since November 2015.</p>
          <p>Previously we were registered as Lao Trail Lao Adventure Travel Co Ltd. For marketing purposes, as of May 2018, we have decided to refurnish our agency name to BL Travel & Tour Co Ltd.</p>
          <p>Our head office is located in Vientiane, the capital city of Laos. We have opened our second travel and tour agency in the small town of Thakhek (5-7 hours ride from Vientiane). It’s the main connecting point for buses going further south or to Vietnam.</p>
          <p>A few of the services that we offer are mentioned below. For more information visit our Tour Packages page or contact us!</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Services we provide -->
<section class="ftco-section services-section bg-light">
  <div class="container">
    <div class="row d-flex">
      <div class="col-md-4 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services d-block">
          <div class="icon"><span class="flaticon-yatch"></span></div>
          <div class="media-body ">
            <h3 class="heading mb-3">Special Services</h3>
            <p>We provide special services which include kayaking, waterfall visits, adventurous tours and <a href="https://www.nakai-resort.com">accomodation</a>. Take a look at our <a href="/tours">tour packages</a> for more information</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services d-block">
          <div class="icon"><span class="flaticon-around"></span></div>
          <div class="media-body">
            <h3 class="heading mb-3">Travel Arrangements</h3>
            <p>Our travel arrangements include everything from international flights, to local transport, train and boat trips.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services d-block">
          <div class="icon"><span class="flaticon-compass"></span></div>
          <div class="media-body">
            <h3 class="heading mb-3">Private Guide</h3>
            <p>All of our tours include a private english speaking (local) guide which offer a unique insights into the highlights of the Laos.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section contact-section ftco-degree-bg">
  <div class="container">
    <div class="row d-flex mb-5 contact-info">
      <div class="col-md-12 mb-4">
        <h2 class="h4">Our Licenses</h2>
        <p>We are a licenced travel institution under Lao Law</p>
      </div>
      <div class="w-100"></div>
      <div class="col-md-6">
        <img src="/static/images/about/license-1.jpg" alt="License 1" class="img" style="width: 500px">
      </div>
      <div class="col-md-6">
        <img src="/static/images/about/license-2.jpg" alt="License 2" class="img" style="width: 500px">
      </div>
    </div>
  </div>
</section>
<% include partials/footer %>
